{% extends "base.html" %}
{% block title %}Contact Us | {% endblock %}
{% load static %}

{% block container %}
  <div class="breadcrumb-sec " style="background: url('/static/remostars/img/bg.jpg') center top  ; min-height:256px!important; padding-top:112px   "> 
    <div class="absolute-sec">  
      <div class="container">
        <div class="pageinfo page-title-align-left">
          <h1 style="color:#fff !important">Contact Us</h1>
        </div>
      </div> 
    </div>
  </div>
  <div class="clear"></div>
  
  <main id="main-content">
    <div class="main-section">
      <div class="container">
        <div class="row">	
					<div class="page-content">				

            <section class="page-section" style="margin-top: 60px;margin-bottom: 0px;border-top: 0px #e0e0e0 solid;border-bottom: 0px #e0e0e0 solid;">
              <div class="container">
                <div class="row">
                  <div class="section-fullwidth">
                    <div class="element-size-100">
                      <div class="element-size-33">
                        <div class="col-md-12">
                          <div class="cs-section-title">
                            <h2>OUR CLUB</h2>
                          </div>
                          <div class="widget_text">
                            <div class="logo">
                              <img src="{% static 'remostars/img/club.jpg' %}" alt=""/>
                            </div>
                            <ul class="group">
                              <li>
                                <i class="fa fa-list"></i>
                                <p>Remo Stars F.C Remo, <br/>Ogun State, Nigeria. <br/>Nickname(s): Sky Blue Stars</p>
                              </li>
                              <li><i class="fa fa-info"></i><p>Founded August 2010</p></li>
                              <li><i class="fa fa-map-marker"></i><p><b>Stadium:</b> Gateway International Stadium Shagamu, Ogun State.</p></li>
                              <li><i class="fa fa-globe"></i><p><a href="www.remostarsfc.com" target="_blank">www.remostarsfc.com</a></p></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="element-size-33">
                        <div class="col-md-12">
                          <div class="cs-section-title">
                            <h2>TRAINING GROUND</h2>
                          </div>
                          <div class="widget_text">
                            <div class="logo">
                              <img src="{% static 'remostars/img/training.jpg' %}" alt="Training Players"/>
                            </div>
                            <ul class="group">
                              <li>
                                <i class="fa fa-list"></i>
                                <p>Training Ground O &amp; A Academy Ikenne,<br/>Remo, Ogun State.<br/>Club Camp/Hostel Ereke Way,<br/>Ikenne, Remo Ogun State.</p>
                              </li>
                              <li><b>Club Home Jerseys Colour:</b> Sky Blue Shirts over Sky Blue Shorts and White socks</li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="element-size-33">
                        <div class="col-md-12">
                          <div class="cs-section-title">
                            <h2>HEAD OFFICE</h2>
                          </div>
                          <div class="widget_text">
                            <div class="logo">
                              <img src="{% static 'remostars/img/office.jpg' %}" alt="Head Office"/>
                            </div>
                            <ul class="group">
                              <li>
                                <i class="fa fa-list"></i>
                                <p>Twenty First Century Building <br/>Adekoya Okuneye Crescent, <br/>Off CMD Road Ikosi Ketu Road,<br/> P.O.Box 164 Ikosi Ketu, Lagos.</p>
                              </li>
                              <li><i class="fa fa-phone"></i><p>+234-8166110429</p></li>
                              <li><i class="fa fa-envelope-o"></i><p><a href="mailto:info@remostars.com">info@remostarsfc.com</a></p></li>
                              <li><i class="fa fa-envelope-o"></i><p><a href="mailto:Rsfcpress@gmail.com">Rsfcpress@gmail.com</a></p></li>
                            </ul>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
               </section>
            </div>
          </div>
        </div>
      </div>
    </main>

{% endblock %}